*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-color: rgb(12, 13, 17);
  --color-purple: #8b143e59;
  --color-blue: #131129;
  --font-color-light: rgb(240, 248, 255);
  --font-color-dark: rgb(12, 13, 17);
  --font-color-red: #c01059;
  --font-family: 'ZCOOL QingKe HuangYou', cursive, 'Courier New', Courier, monospace;
}

body {
  background-color: var(--body-color);
  font-family: var(--font-family);
  /* Never exceeds the height and width of viewport */
  margin-inline: auto;
  width: min(90%, 70.5rem);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

footer {
  color: var(--font-color-light);
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  padding: 2.5px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

input {
  font-size: 20px;
  font-size: max(16px, 1em);
  font-family: inherit;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  border-bottom: inset;
  border-right: inset;
  border-color: #b9b8bb;
  color: var(--font-color-dark);
  padding: 5px;
  margin: 5px;
}

input:focus{
  color: var(--font-color-light);
  border-color: #fb161e;
  outline: 3px solid transparent;
  background-color: var(--color-blue);
}

label{
  margin: 5px;
}

p>span{
  font-style: italic;
  color: var(--font-color-red);
  padding: 2.55px;
}

h2{
  margin-left: 5px;
  font-size: 32px;
}

button{
  margin: 2.5rem 10rem;
  padding: 10px;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  border: 5px solid var(--font-color-red);
  border-radius: 5px;
  color: var(--font-color-red);
  background-color: transparent;
  outline: none;
}

button:hover{
  background-color: var(--font-color-red);
  color: var(--font-color-light);
  border: 5px solid --font-color-light;
}

#main {
  display: flex;
  height: auto;
  border-radius: 2.5%;
  overflow: hidden;
}

#sidebar {
  position: relative;
}

#content {
  background-color: var(--color-blue);
  color: var(--font-color-light);
  display: grid;
  place-content: center;
  padding: 50px 0;
  min-width: 50%; /*not responsive for smaller devices */

}

.hero {
  color: var(--font-color-light);
  font-size: 64px;
  background-color: rgba(12, 13, 17, 0.719);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
  padding: 10px;
}

.form-area {
  background-color: #2517ea10;
  padding: 20px;
  width: auto;
}

.text-content{
  font-size: 25px;
  padding: 20px;
  margin: 5px;
}
.account{
  font-size: 20px;
  padding-left: 25px;
}
.login{
  padding-left: 5px;
  color: var(--font-color-red);
}